<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
<h1>THis is Header</h1>    
<p>Lorem ipsum dolor sit amet.</p>
<p>new paragraph added</p>
</body>
</html>

<!-- showing how we can create sub dir and commit them.
     I just made a new folder in vs and a new file in subfolder
    gonna commit all to git now -->

    <!-- git add . means add everything in curr folder -->
    <!-- git add --oneline prints commits plus commit msg, git log,
         prints all info about commit -->
         <!-- git checkout  <commit> <file> allows you to view file from
             prev commit -->
<!--git reset HEAD will unstage and   -->
<!-- git remote add origin [url] will add online remote repository -->
<!-- git push -u origin [branch] will push from local to remote -->